/* 
Designed by Apple in California - SAN FRANSISCO DISPLAY - https://developer.apple.com/fonts/ 
*/
@font-face {
     font-family: "SF Pro Display";
     src: url("fonts/SFPro100.woff2") format("woff2");
     font-weight: 100;
     font-style: normal;
}
@font-face {
     font-family: "SF Pro Display";
     src: url("fonts/SFPro200.woff2") format("woff2");
     font-weight: 200;
     font-style: normal;
}
@font-face {
     font-family: "SF Pro Display";
     src: url("fonts/SFPro300.woff2") format("woff2");
     font-weight: 300;
     font-style: normal;
}
@font-face {
     font-family: "SF Pro Display";
     src: url("fonts/SFPro400.woff2") format("woff2");
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: "SF Pro Display";
     src: url("fonts/SFPro500.woff2") format("woff2");
     font-weight: 500;
     font-style: normal;
}
@font-face {
     font-family: "SF Pro Display";
     src: url("fonts/SFPro600.woff2") format("woff2");
     font-weight: 600;
     font-style: normal;
}
@font-face {
     font-family: "SF Pro Display";
     src: url("fonts/SFPro700.woff2") format("woff2");
     font-weight: 700;
     font-style: normal;
}
@font-face {
     font-family: "SF Pro Display";
     src: url("fonts/SFPro800.woff2") format("woff2");
     font-weight: 800;
     font-style: normal;
}
@font-face {
     font-family: "SF Pro Display";
     src: url("fonts/SFPro900.woff2") format("woff2");
     font-weight: 900;
     font-style: normal;
}
