@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://cdn.jsdelivr.net/npm/simple-icons-font@8.1.0/font/simple-icons.min.css');
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond");

/* palette */

:root {
  --bg: rgb(10, 10, 10);
  --bg-secondary: rgb(29,29,29);
  --bg-tertiary: rgb(44, 44, 44);
  --tx-normal: rgb(238, 243, 235);
  --tx-muted: rgba(235, 240, 232, 0.712);
  --tx-gradient: linear-gradient(89.97deg,#f32e49 1.84%,#99091c 102.67%);
  --ac: rgb(156, 34, 54);
  --ac-dark: rgb(116, 27, 42);
  --ac-t: rgba(156, 34, 54, 0.726);
  --ac-shadow: rgba(29, 1, 7, 0.651);
}

/* main css */

.serif {
  font-family: 'EB Garamond', serif;
  letter-spacing: -0.07rem;
}
.mono,code,var,pre,samp,kbd {
  font-family: 'IBM Plex Mono', monospace;
}

body {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-size: 14pt;

  background-color: var(--bg);
  color: var(--tx-normal);

  height: 100%;
  margin: 0 auto;
}

h1, p {margin-top: 1rem;margin-bottom: 1rem;}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 3em 1.5em 3em 1.5em;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.644);
}

::selection,::-moz-selection {
  background: var(--ac-t);
}

/* centered content */
.center-v {
  transform: translate(0, -50%);
  top: 50%;
  position:absolute;
}
.center-h {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer// copyright notice */
footer {
  font-weight: 400;
  font-size: 8pt;
  padding: 1em;
  text-align: center;
  pointer-events: none;
  color: var(--tx-muted);

  text-shadow: 0 0 7px rgb(0, 0, 0);
  letter-spacing: 0.005em;
}
.crn {
  position: fixed;
  bottom: 0rem;
  width: 100vw;
  z-index: 500;

  display: grid;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
}

/* scrollbar */
* {
  scrollbar-track-color: transparent;
  scrollbar-face-color: var(--ac-dark);
  scrollbar-color: var(--ac-dark) transparent;
}
::-webkit-scrollbar,::-webkit-scrollbar-corner,::-webkit-scrollbar-track {
  background: var(--bg-secondary);
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--ac);
  -webkit-border-radius: 1ex;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--ac-dark);
}
::-webkit-scrollbar-thumb:active {
  background: var(--ac-t);
}

/* extra classes */
.blur {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.highlighthover {
  transition: filter .4s ease-in-out;
}
.highlighthover:hover {
  filter: brightness(150%);
}

.bold {font-weight: 700;}
.text-shadow {text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.561);}
.no-pointer {pointer-events: none;}
.no-select {user-select: none;}
.l-cnt {text-align: center;}
.muted {opacity: 0.95;}
.italic {font-style: italic;}

/* text styling */
.heading {
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: 36pt;
  font-weight: 600;
}
.heading-special {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px var(--tx-normal);
  color: var(--tx-normal);
  margin-bottom: 0.05rem;
}
.sp-tx {
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-weight: 600;
  font-size: 20pt;
}
.gradient-text {
  -webkit-text-fill-color: transparent;
  background: var(--tx-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}
.quote-text {
  opacity: 0.9;
  font-size: 13pt;
  font-style: italic;
  margin-bottom: 0.75em;
}

/* links */
a {
  color: var(--ac); 
  text-decoration: none;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}
a:hover {
  color: var(--ac-dark); 
}

/* logo + stuffs */
.logo {
  background-image: url("../assets/yf_n.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 7.5em;
  width: 14em;
  display: block;
  float: right;
  filter: drop-shadow(0 0 0.75rem var(--ac-shadow));
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.avi {
  background-image: url("../assets/renge.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 7.5em;
  width: 7.5em;
  display: block;
  float: left;
  filter: drop-shadow(0 0 0.75rem var(--ac-shadow));
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.al {
  filter: sepia(15%) hue-rotate(30deg) contrast(1.5);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

/* socials */
.socials {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  position: relative;
  gap: 1.3rem;
  height: 1.5em;
  text-align: center;
}
.socials>li>a {
  text-decoration: none;
}
.socials>li {
  height: max-content;
}

.icon-social {
  line-height: 1;
  position: relative;
  font-size: 16pt;
  color: var(--tx-normal);

  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.icon-social:hover {
  color: var(--ac);
}

/* backgrounds */

.bg-destruction {
  background: linear-gradient( rgba(0,0,0,.35), rgba(0,0,0,.35) ),url("../assets/destruction.webp"),black 0px/cover no-repeat fixed;
}

/* sections */

.sec {
  margin-top: 2em;
  margin-bottom: 2em;
}
.sec-bnr {
  color: var(--bg);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1em 4em;
}
.sec-bnr > h1 {z-index: 1;position: relative;}
.sec-bnr::before {
  content: '';
  background-image: url("../assets/rengepeek.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90%;
  position: absolute;
  height: 7em;
  width: 73%;
  transform: translateY(-1.11em);
  opacity: 0.3;
  z-index: 0;
  filter: sepia(25%) hue-rotate(30deg);
}
.sec-bio {
  margin: 0 1.5em 0 0.5em;
  padding-left: 1em;
  text-align: justify;
  border-left: solid 3px var(--ac-t);
}
.sec-skills {
  pointer-events: none;
}
.sec-skills>ul, .sec-skills>ul>li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20pt;
  user-select: none;
}
.sec-skills>ul {
  margin-left: 0.5em;
  filter: saturate(1.5) brightness(125%);
}
.sec-time {
  margin: 1em auto 0 auto;
  width: max-content;
  min-height: 4em;
}

/* clock */

.clock-aside {
  float: left;
  line-height: 4em;
  border-right: solid 2px var(--tx-muted);
  height: 4em;
  padding-right: 1.2em;
  margin-right: 0.4em;
  font-weight: bolder;
}
.clock-container {
  margin-top: 0.5em;
  width: 10em;
  height: 6em;
  text-align: center;
  perspective: 45em;
  float: right;
  background-image: url("../assets/clock.webp");
  background-size: contain;
  background-repeat: no-repeat;
}
.clock {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-4deg) rotateY(58deg) rotateZ(8deg) translateX(95px) translateY(-2px) translateZ(13px);
}
.clock-display {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(-90deg) translateZ(7.5em);
}
.clock-display>p {
  font-size: 31pt;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  filter: brightness(300%);
}

/* nav */

header {
  display:block;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}
.nav-trigger{
  background: none;
  border: none;
  color: var(--tx-normal);
  display: block;
  left: 0;
  letter-spacing: .125em;
  outline: none !important;
  padding: 0;
  position: absolute;
  text-transform: uppercase;
  top: 36px;
  z-index: 99;
  -webkit-transform:translate(20px, -50%);
  -webkit-transform-origin:left top;
  transform: translate(20px, -50%);
  transform-origin: left top;
  font-size: xx-large;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.nav{
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all .5s ease;
  -webkit-transform:translateX(-100%);
  -webkit-transform-origin:left top;
  transform: translateX(-100%);
  transform-origin: left top;
}
.nav .nav-close{
  background:rgb(0, 0, 0);
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.25);
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgba(255,255,255,0.25);
  color: var(--tx-normal);
  display: block;
  height: 68px;
  font-size: 30px;
  font-weight: 200;
  line-height: 45px;
  outline: none !important;
  padding: 11px 0 19px;
  position: absolute;
  top: 0;
  width: 70px;
  z-index: 11;
  transition: all .2s ease-in-out;
}
.nav .nav-close:hover{
  color: var(--ac);
}
.nav .nav-wrapper{
  background:rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-right:1px solid rgba(255,255,255,0.25);
  bottom:0;
  left:0;
  padding: 75px 30px;
  overflow: scroll;
  position: absolute;
  top: 0;
  -webkit-overflow-scrolling: touch;
  z-index: 10;
}
.nav .nav-wrapper ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav .nav-wrapper ul li{
  margin-bottom: 20px;
  position: relative;
}
.nav .nav-wrapper ul li:first-child{
  color: var(--ac);
}
.nav .nav-wrapper ul li a{
  border-left: 3px solid var(--tx-normal);
  color: var(--tx-normal);
  display: block;
  font-size: .85em;
  letter-spacing: .075em;
  padding: 15px 0 15px 20px;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: all .2s linear;
}
.nav .nav-wrapper ul li a:hover{
  border-color: var(--ac);
  color: var(--ac);
}
.nav .nav-wrapper ul li a:hover{
  color: var(--ac);
}
.nav .nav-wrapper ul li a{
  color: var(--tx-normal);
  display: block;
}
body.nav-visible{
  overflow: hidden;
}
body.nav-visible .nav{
  -webkit-transform:translateX(0);
  -webkit-transform-origin:left top;
  transform: translateX(0);
  transform-origin: left top;
  backdrop-filter: blur(3px) brightness(70%);
  -webkit-backdrop-filter: blur(3px) brightness(70%);
}

/* responsive css */
@media (min-width: 782px) {
  .al {height:8em;scale:1.55;}
  .avi {scale:0.9;transform: translateY(-15px) translateX(5px);}

  .nav .nav-close {
    right: initial;
    left: 307px;
  }
  .nav .nav-wrapper {
    right: calc(100% - 308px);
  }
}

@media (max-width: 782px) {
  .al {height:11em;scale:1;}
  .logo {transform: translateX(-15px) translateY(-10px) translateZ(0) rotate(-45deg); float: left; scale: 1.007;}
  .avi {scale:1.7; transform: translateX(-25px); float: right;}

  .nav .nav-close {
    right: 0;
    left: initial;
  }
  .nav .nav-wrapper {
    right: 69px;
  }
}